html,body {
	width: 100%;
	height: 100%;
}

html,body, div {
margin: 0;
padding: 0;
}

body {
	font: 16px Tahoma;
	/*background-color: black;*/
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 4px;
	color: white;
	background-color: #333;
}

button {
	border-radius: 2px;
	border: 0;
	background-color: #9AF;
	color: black;
}

button.selected {
	color: white;
}

#code {
	color: #AFA;
	position: absolute;
	top: 40px;
	left: 10px;
	display: none;
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
}